.admin
  @media (max-width: $mobile)
    padding: 10px
  &__container
    &-title
      margin-bottom: 20px
      font-size: 24px
  &__list
    @include list-reset
    display: grid
    grid-template-columns: 1fr
    &-item
      display: grid
      grid-template-columns: repeat(3, 1fr)
      border: $section-border
      &--head
        border: none
        grid-template-columns: 0.5fr 60px 1fr
        & .admin__table-cell--name
          padding: 10px
        & .admin__table-cell--amount
          width: 50%
      &--beer
        grid-template-columns: 0.5fr 60px 1fr
      &--notification
        grid-template-columns: 1fr 2fr 1fr
        &:nth-of-type(2n)
          background-color: lighten($dark-gray, 25%)
        &:nth-of-type(2n-1)
          background-color: lighten($dark-gray, 15%)
      &--preorders
        grid-template-columns: repeat(2, minmax(100px, 1fr)) 70px
      &--subscriber
        grid-template-columns: 1fr
  &__table-cell
    height: 100%
    padding: 0
    &::-webkit-scrollbar
      display: none
    &--name
      display: flex
      padding-left: 10px
      align-items: center
      background-color: $dark-gray
      border-right: $section-border
      @media (max-width: $tablet)
        border-bottom: none
    &--on-brewing
      border-right: $section-border
      background-color: lighten($dark-gray,25%)
    &--notification,
    &--preorders
      display: flex
      flex-direction: column
      gap: 12px
      padding: 10px
      overflow: scroll
      &:not(:last-of-type)
        border-right: $section-border
    &--subscriber
      padding: 10px
      &:nth-of-type(2n)
        background-color: lighten($dark-gray, 25%)
      &:nth-of-type(2n-1)
        background-color: lighten($dark-gray, 15%)

    &--value
      background-color: lighten($dark-gray, 25%)
  &__form-item
    display: grid
    height: 100%
    grid-template-columns: repeat(2, 50%)
  &__input
    width: 100%
    padding: 16px 0
    border: none
    text-align: center
    background-color: transparent
    border-radius: 0
    transition: 0.3s
    &::-webkit-inner-spin-button
      display: none
    &:hover
      background-color: $black
      color: $background-gray
    &:focus-visible
      outline: none
      background-color: $black
      color: $background-gray
  &__submit-btn
    border: none
    border-left: $section-border
    background-color: lighten($dark-gray, 14%)
    color: $black
    transition: 0.3s
    cursor: pointer
    &:hover
      background-color: $black
      color: $background-gray
