.blog
  @include inter-regular
  display: flex
  flex-direction: column
  gap: 60px
  max-width: $container-max-width
  width: 100%
  margin: 0 auto
  padding: 40px 60px
  flex-grow: 1
  @media (max-width: 490px)
    padding: 40px 20px
  &__container
    // &:has()
