.container
  padding: 24px 56px
  border-top: $section-border
  border-bottom: $section-border
  @media (max-width: $mobile)
    padding: 16px
  &__wrapper
    max-width: $container-max-width
    display: flex
    justify-content: space-between
    align-items: center
    margin: auto

  &--swiper
    position: relative
    border-top: none
    border-bottom: none
    padding: 0
