.form
  position: absolute
  top: 50vh
  right: 50vw
  display: flex
  min-width: 340px
  flex-direction: column
  gap: 20px
  padding: 20px
  padding-bottom: 40px
  border-radius: 4px
  background-color: $background-gray
  box-shadow: $block-shadow
  transform: translate(50%, -50%)
  z-index: 10
  &--guest
    padding-top: 50px
  &::-webkit-scrollbar
    display: none
  @media (max-width: $mobile)
    top: 60px
    right: 0
    transform: unset
    width: 100%
    padding-bottom: 20px
    gap: 8px
    border-radius: 0
    &--banner-opened
      top: 90px
  &--register
    @media (max-width: $mobile)
      max-height: 80vh
      overflow-y: scroll
  &__title
    text-align: center
  &__close-btn
    @include button-reset
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    color: $black
    &:hover
      opacity: 0.6
    &:active
      opacity: 0.3
  &__wrapper
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0,0.5)
  &__buttons
    display: flex
    flex-direction: column
    & p
      margin: 32px 0 16px
      text-align: center
    &-wrapper
      display: flex
      gap: 20px
      justify-content: space-between
  &__submit
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 20px
    @media (max-width: $mobile)
      margin-top: 20px
      margin-bottom: 0
    &--guest
      margin-bottom: 20px

  &__item
    position: relative
    display: flex
    flex-direction: column
    gap: 8px
    &:not(:has(.form__input[type="file"]))::after
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background-color: $black
      content: ''
    &:has(.upload)::after
      display: none

  &__label
    @include inter-regular
    display: none
    &--visible
      display: block
  &__input
    @include button-reset
    transition: 0.3s
    font-size: 16px
    &:hover
      background-color: lighten($black, 90%)
    &:not([type="file"])
      padding: 12px
    &:focus-visible
      background-color: lighten($black, 90%)
      outline: none
