.form
  position: absolute
  top: 50%
  right: 50%
  display: flex
  min-width: 340px
  max-height: 70vh
  flex-direction: column
  gap: 20px
  padding: 20px
  padding-bottom: 40px
  border-radius: 4px
  background-color: $background-gray
  box-shadow: $block-shadow
  transform: translate(50%, -50%)
  z-index: 10
  overflow: scroll
  &--guest
    padding-top: 50px
    & p
      @include inter-regular
      margin-bottom: 0
      padding-left: 12px
      text-align: center
      color: darken($dark-gray, 50%)
  &::-webkit-scrollbar
    display: none
  @media (max-width: $mobile)
    top: 60px
    right: 0
    transform: unset
    width: 100%
    gap: 8px
    border-radius: 0
    &--banner-opened
      top: 90px
  &--register
    @media (max-width: $mobile)
      max-height: 78vh
      overflow-y: scroll
  &__title
    text-align: center
  &__close-btn
    @include button-reset
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    color: $black
    transition: 0.3s
    &:hover
      opacity: 0.6
    &:active
      opacity: 0.3
    &:focus-visible
      opacity: 0.6
      outline: none
  &__wrapper
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0,0.5)
    z-index: 10
    @media (max-width: $mobile)
      z-index: unset
  &__buttons
    display: flex
    flex-direction: column
    & p
      margin: 32px 0 16px
      text-align: center
    &-wrapper
      display: flex
      gap: 20px
      justify-content: space-between
  &__submit
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 20px
    @media (max-width: $mobile)
      margin-top: 20px
      margin-bottom: 0
    &--guest
      margin-bottom: 20px

  &__item
    position: relative
    display: flex
    flex-direction: column
    gap: 8px
    border: 1px solid $black
    &:has(.upload)
      border: none

  &__label
    @include inter-regular
    position: absolute
    // top: -10px
    // left: 6px
    padding: 0 6px
    background-color: $background-gray
    top: 12px
    left: 12px
    transition: 0.3s
    &--visible
      position: static
      padding-left: 10px
    // &--sign-in
    &--invisible
      color: transparent
      background-color: transparent

  &__input
    @include button-reset
    transition: 0.3s
    font-size: 16px
    &:not([type="file"])
      padding: 12px
    &:focus-visible
      outline: none
  &__show-pass-btn
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-25%)
  &__error-message
    position: absolute
    bottom: -100px
    left: 0px
    padding: 10px
    display: block
    width: 100%
    border-top: 2px solid $error-red
    color: $error-red
    margin: 0
    transition: 0.3s
    background-color: $white
    @media (max-width: $mobile)
      bottom: unset
      top: -100px
      border-top: none
      border-bottom: 2px solid $error-red
    &--opened
      bottom: 0px
      @media (max-width: $mobile)
        bottom: unset
        top: 0

.form__input:focus-visible
  & + .form__label
    top: -8px
    left: 8px
    font-size: 0.8em
    color: $black
    background-color: $background-gray
