.header
  display: flex
  padding: 16px 40px
  border-bottom: 1px solid $black
  &__cart-wrapper
    position: relative
    & span
      position: absolute
      top: -5px
      right: -16px
      font-size: 20px
