.header
  display: flex
  justify-content: space-between
  padding: 16px 40px
  border-bottom: 1px solid $black
  &__cart-wrapper
    @include link-reset
    display: block
    position: relative
    & span
      position: absolute
      top: -5px
      right: -16px
      font-size: 20px
  &__burger
    padding: 0
    border: none
    background-color: transparent
    &--opened .header__burger-line
      transform: translateX(120px)
      &::before
        transform: translate(-120px, 10px) rotate(45deg)
      &::after
        transform: translate(-120px, -10px) rotate(-45deg)
    &-line
      @include burger-line
      position: relative
      display: flex
      flex-direction: column
      gap: 10px
      &::before
        @include burger-line
        position: absolute
        left: 0
        top: -10px
        content: ''
      &::after
        @include burger-line
        position: absolute
        left: 0
        top: 10px
        content: ''

