.hero
  position: relative
  &__wrapper
    padding: 60px
    overflow: hidden
    transition: 0.3s
    &--image
      padding: 40px
    &--text
      display: flex
      padding: 40px
      gap: 30px
      flex-direction: column
      align-items: center
      justify-content: center
      background-image: url("../../img/hand-mobile.png")
      background-repeat: no-repeat
      background-position: 100% 50%
      background-size: initial
      @media (min-width: $tablet)
        background-attachment: fixed
        background-image: url("../../img/hand.png")
    &:first-of-type
      display: flex
      flex-direction: column
      align-items: flex-start
      border-right: $section-border
      @media (max-width: 800px)
        border-bottom: $section-border
        border-right: none
    &--swiper
      padding: 0
  &__star
    width: 70px
    height: auto
    animation: rotation
    color: $red-star-color
    animation-iteration-count: infinite
    animation-duration: 3.5s
    animation-timing-function: linear
  &__text
    @include inter-regular
    display: inline
    max-width: 540px
    margin: 0
    margin-bottom: 20px
    font-size: clamp(1.875rem, 0.9707rem + 4.2553vw, 4.375rem)
    transition: 0s
    line-height: 1.3
    &--bold
      @include inter-semi-bold
      @include wiggle-italic-text
      margin: 0
      &:first-of-type
        animation-duration: 0.55s
    &--centered
      margin: 0
      text-align: center
  &__description
    @include inter-regular
    margin: 0
    max-width: 420px
    font-size: 18px
    text-align: center
  &__swipe
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 50px
    padding: 100px
  &__image
    height: auto
    width: 100%
