.message
  @include inter-semi-bold
  position: fixed
  top: 50%
  left: 50%
  display: flex
  min-width: 300px
  flex-direction: column
  align-items: center
  transform: translate(-50%, -50%)
  background-color: $background-gray
  border: $section-border
  font-size: 24px
  padding: 40px 20px
  text-align: center
  box-shadow: 0 0 20px 4px $black
  z-index: 20
  &__buttons-wrapper
    display: flex
    gap: 40px
    justify-content: center
  &__close-btn
    @include button-reset
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    color: $black
