.parallax
  position: absolute
  inset: 0
  width: 100vw
  height: 100vh
  z-index: -10
  overflow: hidden
  &__element
    position: absolute
    display: block
    width: 20px
    height: 200px
    transform-style: preserve-3d
    background-color: #fff9aa9f
    transition: transform 0.2s ease-out
    &--1
      height: 80px
    &--2
      height: 400px
    &--3
      height: 1740px
    &--4
      height: 120px
