.post
  &__wrapper
    max-width: $container-max-width
    width: 100%
    margin: auto
    padding: 40px 60px
    @media (max-width: $mobile)
      padding: 40px 60px
    &--preview
      padding: 0
    & .title
      margin-bottom: 40px
  &__title
    @include link-reset
    @include inter-semi-bold
    font-size: clamp(1.375rem, 1.1489rem + 1.0638vw, 2rem)
    &:hover
        color: $link-hover
