.preorder-table
  @include inter-regular
  text-align: center
  &__head th
    text-align: center
  &.product__details-table .preorder-table__item
    background-color: $white
    &:hover
      background-color: $background-gray
