.section
  &--video
    padding: 40px
    @media (max-width: $mobile)
      padding: 10px
  &--swiper
    border-bottom: $section-border
  &--cart
    padding: 40px
    @media (max-width: $mobile)
      padding: 10px
  &__container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    border-bottom: $section-border
    transition: 0.3s
    @media (max-width: 800px)
      grid-template-columns: 1fr
