.subscribe
  &__container
    display: flex
    padding: 20px
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 60px
    &:first-of-type
      border-right: $section-border
      @media (max-width: 800px)
        border-right: none
  &__wrapper
    gap: 40px
    align-items: start
    @media (max-width: $mobile)
      grid-template-columns: 1fr
      gap: 20px

  &__description
    @include inter-regular
    max-width: 640px
    margin: 0
    font-size: 18px
    line-height: 1.4em
    text-align: center
    @media (max-width: $mobile)
      font-size: 20px

  &__form
    position: relative
    display: grid
    width: 100%
    gap: 20px
    transition: 0.3s

  &__item
    position: relative
    justify-self: stretch
    transition: 0.8s

  &__field
    @include inter-regular
    @include button-reset
    display: block
    width: 100%
    padding: 10px
    margin: 0
    border-bottom: $section-border
    border-radius: 0
    background-image: url("../../img/icons/form-arrow.svg")
    background-repeat: no-repeat
    background-position: calc(100% - 10px) 50%
    font-size: 18px
    transition: 0.4s
    &--message
      resize: vertical
    &::placeholder
      color: fade($black, 50%)
    &:hover
      background-position: calc(100%) 50%
    &:focus
      background-position: calc(100%) 50%
      outline: none
    &:focus-visible
      background-position: calc(100%) 50%
      outline: none
    &--error
      border: 2px solid red

  &__submit
    @include link-reset
    padding: 10px
    border: none
    border-radius: 0
    grid-column: 1/-1
    margin: 0
    position: relative
    background-color: $black
    color: $white
    white-space: nowrap
    font-size: 16px
    font-family: inherit
    overflow: hidden
    &:active
      background-color: rgba($black, 50%)
    &:focus-visible
      background-color: $black
      color: $white

  &__success-message
    width: 100%
    padding: 40px
    outline: 2px solid $black
    text-align: center

  &__error-message
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 100%
    margin: 0 auto
    grid-column: 1/-1
    color: transparent
    transition: 0.3s
    z-index: -1
    &--opened
      bottom: -20px
      color: red

  &__image
    width: 100%
    height: auto
