.swiper
  &__classics
    user-select: none
  &__slide
    &--classics
      display: grid
      justify-items: center
      align-items: start
      padding: 20px 0
      grid-template-rows: 300px 100px
      height: 100%
      border-right: $section-border
      @media (max-width: $mobile)
        padding-top: 40px
        padding-inline: 10px
      & .beer__item-wrapper
        grid-template-columns: 110px 60px
      & .beer__item-accent
        font-size: 22px
  &-slide
    overflow: hidden
