.upload
  &__wrapper
    display: flex
    padding: 20px
    flex-direction: column
    align-items: center
    justify-content: center
    border: 3px dashed $black
    border-radius: 12px
    &:hover
      border-color: $link-hover
      & .button
        color: $link-hover
  &__inputs
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px
  &__preview
    border-radius: 50%
    width: 100px
    height: 100px
    object-fit: cover
  &__description
    @include inter-regular
    margin: 0
    font-style: italic
  &__button
    width: 100%
    padding: 0
    border: none
    transition: 0s
    & svg
      transition: 0s
