.user-navigation
  @include list-reset
  display: flex
  gap: 32px
  align-items: center
  &__item
    &:has(.user-navigation__avatar)
      position: relative
      &::after
        position: absolute
        top: 2px
        right: 2px
        display: block
        width: 12px
        height: 12px
        border-radius: 50%
        background-color: $online-green
        content: ''
  &__avatar
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    &-wrapper
      border: 1px solid $black
      border-radius: 50%
