@media(max-width: 860px) {

  .nav-link-logo {
    transform: scale(.8);
  }

  .navigation-list,
  .navigation-buttons-list {
      display: none;
  }

  .burger-nav {
    display: block;
    z-index: 1000;
  }

  .equation-item {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }

  .background-bottle {
    background-size: 88px 300px;
  }

  .styles-item::before {
    width: 44px;
    height: 150px;
    background-size: 44px 150px;
  }
}@media(max-width: 540px) {
  .page-header {
    padding: 10px;
  }

  .burger-btn {
    right: 20px;
  }

  .background-bottle:nth-of-type(1) {
    top: -220px;
    left: 10%;
  }
  .background-bottle:nth-of-type(2) {
    top: -220px;
    left: 45%;
    
  }
  .background-bottle:nth-of-type(3) {
    top: -220px;
    left: 80%;
    
  }
  .background-bottle:nth-of-type(4) {
    top: 60px;
    left: 15%;
  }
  .background-bottle:nth-of-type(5) {
    top: 60px;
    left: 45%;
  }
  .background-bottle:nth-of-type(6) {
    top: 60px;
    left: 80%;
  }

  .main-title {
    line-height: 1;
    font-size: 8vw;
    margin-bottom: 40px;
  }

  .entry-section .subtitle {
    font-size: 6vw;
  }

  .about-section {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }

  .about-section .wrapper {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: var(--main-color);
  }

  .advantages-list {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }

  .about-section .button {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
  }

}