:root {
--main-color: #f9eba1;
--special-color: #f5c143;
--hover-color: #f9b81f;
--main-font: 'AmaticSC-Regular', sans-serif;
--special-font: 'AmaticSC-Bold', sans-serif;
--black: #000000;
}

@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('../fonts/AmaticSC/AmaticSC-Regular.ttf') format('ttf'),
       url('../fonts/AmaticSC/AmaticSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AmaticSC-Bold';
  src: url('../fonts/AmaticSC/AmaticSC-Bold.ttf') format('ttf'),
       url('../fonts/AmaticSC/AmaticSC-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/***************************************************************

                  COMMON STYLES

***************************************************************/


*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  background-color: #e5e5e5;
  margin: 0;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  vertical-align: middle;
  border: 2px solid var(--special-color);
  background: var(--main-color);
  font-family: var(--special-font);
  font-size: 20px;
  color: var(--black);
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.button span {
  position: relative;
  z-index: 10;
}

.button:not(.filled-btn) {
  background-color: var(--main-color);
}

.button:not(.filled-btn)::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transform: translateX(-100%);
  transition: .3s;
}

.button:not(.filled-btn):hover::after {
  background-color: var(--special-color);
  transform: translateX(0);
}

.filled-btn {
  background-color: var(--special-color);
}

.filled-btn::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transform: translateX(100%);
  transition: .3s;
}

.filled-btn:hover::after {
  background-color: var(--main-color);
  transform: translateX(0);
}

.overflow-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/***************************************************************

                  HEADER STYLES

***************************************************************/

.page-header {
  position: relative;
  background-color: var(--main-color);
  padding: 10px 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  font-family: 'AmaticSC-Bold';
  list-style-type: none;
}

.navigation-item:not(:last-child) {
  margin-right: 20px;
}

.nav-link {
  margin-right: 40px;
  color: var(--black);
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  white-space: nowrap;
}

.nav-link-logo {
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.navigation-buttons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
}

/*                    BURGER MENU                        */

.burger-nav {
  display: none;
  z-index: 1000;
}

.burger-btn {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-btn-line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 4px;
}

.burger-btn:hover .burger-btn-line {
  background-color: var(--special-color);
  transition: .2s;
}

.burger-btn-line:not(:last-of-type) {
  margin-bottom: 5px;
}

.burger-navigation-list {
  display: flex;
  position: absolute;
  right: 0;
  top: 80px;
  text-align: right;
  background-color: var(--main-color);
  padding: 40px;
  margin: 0;
  height: 50vh;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  z-index: 1000;
  transform: translateX(300px);
  transition: 1s;
}

.burger-opened {
  display: flex;
  transform: translateX(0);
  transition: 1s;
}

.open-first-line {
  transform: translateY(8.5px);
}

.open-third-line {
  transform: translateY(-8.5px);
}

.burger-nav .nav-link{
  margin: 0;
  padding: 0;
}

.burger-navigation-buttons-list {
  display: flex;
  padding: 0;
  margin: 0;
  max-width: 200px;
  padding: 20px;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  z-index: 1;
}

/***************************************************************

                  PAGE-MAIN STYLES

***************************************************************/

.page-main {
  flex-grow: 1;
}

.section {
  min-height: 50vh;
  text-align: center;
  padding: 40px;
}

.entry-section {
  position: relative;
  min-height: 80vh;
  padding-top: 120px;
  background: linear-gradient(281.86deg, rgba(165, 138, 75, 0.35) 0%, rgba(77, 58, 12, 0.35) 98.44%);; 
  -webkit-background: linear-gradient(281.86deg, rgba(165, 138, 75, 0.35) 0%, rgba(77, 58, 12, 0.35) 98.44%);; 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.background-wrapper {
  position: relative;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: -1;
  filter: blur(3px);
}

.background-bottle {
  position: absolute;
  display: block;
  width: 138px;
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 138px 470px;
  transform: scale(.8) translateX(-50%) rotate(-45deg);
}

.background-bottle:nth-of-type(1) {
  background-image: url('../images/ipa.png');
  top: -300px;
  left: 25%;
}
.background-bottle:nth-of-type(2) {
  top: -300px;
  left: 50%;
  background-image: url('../images/neipa.png');
  
}
.background-bottle:nth-of-type(3) {
  top: -300px;
  left: 75%;
  background-image: url('../images/porter.png');
  
}
.background-bottle:nth-of-type(4) {
  top: 60px;
  left: 25%;
  background-image: url('../images/lager.png');
  transform: scale(.8) translateX(-50%) rotate(45deg);
}
.background-bottle:nth-of-type(5) {
  top: 60px;
  left: 50%;
  background-image: url('../images/stout.png');
  transform: scale(.8) translateX(-50%) rotate(45deg);
}
.background-bottle:nth-of-type(6) {
  top: 60px;
  left: 75%;
  background-image: url('../images/wheat.png');
  transform: scale(.8) translateX(-50%) rotate(45deg);
}

.entry-section .subtitle {
  margin-bottom: 80px;
  margin-top: -25px;
  font-size: 4vw;
  color: #ffffff;
  text-shadow: 2px 2px black;
}

.main-title {
  font-size: 6.5vw;
  font-family: var(--special-font);
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 3px 3px black;
  text-transform: uppercase;
}

.main-title span {
  color: var(--special-color);
}

.main-buttons-list {
  display: flex;
  margin: auto;
  padding: 0;
  max-width: 320px;
  list-style-type: none;
  justify-content: space-between;
}

.equation-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin: 0 0 0 -40px;
  background-color: var(--main-color);
}

.equation-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.equation-item {
  position: relative;
  overflow: hidden;
  display: block;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.equation-item:nth-of-type(2)::after,
.equation-item:nth-of-type(4)::after,
.equation-item:nth-of-type(6)::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  content: '+';
  font-size: 6vw;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.equation-item:nth-of-type(8)::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  content: '=';
  font-size: 6vw;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.equation-item:nth-of-type(1) {
  background-image: url('../images/water.png');
}

.equation-item:nth-of-type(3) {
  background-image: url('../images/wheat-flour.png');
}

.equation-item:nth-of-type(5) {
  background-image: url('../images/hop.png');
}

.equation-item:nth-of-type(7) {
  background-image: url('../images/yeast.png');
}

.equation-item:nth-of-type(9) {
  background-image: url('../images/glass.svg');
}

.section-title {
  font-size: 4vw;
}

.styles-list {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  justify-content: center;
}

.styles-item::before {
  content: '';
  display: inline-block;
  width: 88px;
  height: 300px;
  background-size: 88px 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.styles-item:nth-child(1)::before {
  background-image: url('../images/neipa.png')
}

.styles-item:nth-child(2)::before {
  background-image: url('../images/wheat.png')
}

.styles-item:nth-child(3)::before {
  background-image: url('../images/stout.png')
}

.styles-item:nth-child(4)::before {
  background-image: url('../images/ipa.png')
}

.styles-item:nth-child(5)::before {
  background-image: url('../images/porter.png')
}

.styles-item:nth-child(6)::before {
  background-image: url('../images/lager.png')
}

.styles-unit {
  font-size: 3vw;
}

.about-section {
  display: grid;
  padding: 0;
  margin: auto;
  margin-bottom: 40px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr .3fr;
}

.about-section .wrapper {
  padding: 40px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-section .section-title {
  font-size: 44px;
  line-height: 52px;
  text-align: left;
}

.section-text {
  text-align: left;
  font-size: 34px;
  line-height: 46px;
}

.advantages-list {
  display: flex;
  padding: 40px;
  flex-direction: column;
  text-align: left;
  align-content: center;
  list-style-type: none;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.advantage-item {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: auto auto;
}

.advantage-name {
  grid-row: 1 / 2;
  grid-column: 2 / -1;
}

.advantage-item .subtitle {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

.advantage-name::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-left: -34px;
  vertical-align: middle;
  content: '';
  background-position: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.advantage-item:first-of-type .advantage-name::before {
  background-image: url('../images/glass.svg');
}

.advantage-item:nth-of-type(2) .advantage-name::before {
  background-image: url('../images/heart.svg');
}

.about-section .button {
  min-width: 120px;
  max-width: 140px;
  min-height: 46px;
  grid-column: 1 / -1;
  margin: auto;
}

/***************************************************************

                  PAGE-FOOTER STYLES

***************************************************************/

.page-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
  background-color: var(--main-color);
  border-top: 2px solid var(--special-color);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

@keyframes eye {
  from {transform: translateY(-80%);}
  25% {transform: translateY(-60%);}
  70% {transform: translateY(-10%);}
  to {transform: translateY(0%);}
}

.logo {
  display: block;
  position: relative;
  margin: auto;
}

.logo-item svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* body */
.logo-item:nth-of-type(1) {
  display: block;
  width: 100px;
  height: 146px;
  transform: scale(1.5) translateY(30px);
}

/* pupil */
.logo-item:nth-of-type(2)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2be98d;
  z-index: 1;
}

/* eye */
.logo-item:nth-of-type(2) {
  position: absolute;
  top: 38px;
  left: 37px;
  display: block;
  width: 33px;
  height: 33px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #f0eab7;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

/* eyepil */
.logo-item:nth-of-type(2)::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 33px;
  height: 33px;
  border-bottom: 1px solid #000;
  background-color: #6860CD;
  animation: eye 2.5s infinite linear;
  animation-fill-mode:forwards;
  animation-direction: alternate;
  -webkit-animation: eye 2.5s infinite linear;
  transition: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-direction: alternate;
  z-index: 2;
}

.logo:hover .logo-item:nth-of-type(2)::before {
  transform: scale(1.7);
}

.logo:hover .logo-item:nth-of-type(2)::after {
  animation-play-state: paused;
  opacity: 0;
}

.developer-name {
  position: absolute;
  display: inline-block;
  margin-top: -20px;
  left: 50%;
  font-weight: 700;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #000000;
}